@import 'design';

.header {
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 1em;
}

.nav {
    a {
        margin-right: 1em;

        &:last-child {
            margin-right: 0;
        }
    }
}