@use 'design' as *;

.circle-image {
    @include Bordered;
    
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);

    margin: 0 auto;

    background-color: white;
}

.interactable {
    $hoverTransitionTime: 0.25s;

    transition: box-shadow $hoverTransitionTime, 
        transform $hoverTransitionTime;

    &:hover {
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
        transform: rotate(10deg) scale(1.05, 1.05);
    }
}

.active {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
    transform: rotate(10deg) scale(1.05, 1.05);
}