@import 'design';

.cart {
    @include Box;

    position: sticky;
    top: 1em;
}

.cart-items {
    @include MarginVertical;

    width: 100%;

    border-collapse: collapse;
    text-align: center;
}

.cart-item {
    border-bottom: 1px solid black;

    &:first-child {
        border-top: 1px solid black;
    }
    
    td {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}

.logo {
    width: 2em;
    height: 2em;
}

.clear {
    @include NegativeCta;
}