@use 'sass:color';
@import 'design';

@mixin CtaColour($baseColour) {
    @include Shadow($baseColour, $isActive: true);

    background-color: $baseColour;

    &:hover {
        background-color: color.adjust($baseColour, $lightness: -15%);;
    }

    &:active {
        background-color: color.adjust($baseColour, $lightness: -15%);
    }
}

@mixin BeforeIcon($iconUrl) {
    &:before {
        display: inline-block;
        position: relative;
        content: '';

        background-image: url($iconUrl);
        background-size: 1em 1em;
        height: 1em;
        width: 1em;

        top: 0.15em;
        margin-right: 0.5em;
    }
}

.cta {
    @include Padding;

    font-weight: bold;
    border: 2px solid black;
    color: white;

    cursor: pointer;

    &:active { 
        // make the buttons sink into the shadow for a press feel
        transform: translate($shadowOffset, $shadowOffset);
    }

    &[disabled] {
        background-color: $disabledColour;
        box-shadow: none;
        cursor: not-allowed;
        transform: translate($shadowOffset, $shadowOffset);
        border: 2px solid rgb(83, 82, 82);
    }
}

.positive {
    @include CtaColour($positiveColour);
}

.negative {
    @include CtaColour($negativeColour);
}

.neutral {
    @include CtaColour($neutralColour);
}

$icon-map: (
    "add": "/add-svgrepo-com.svg",
    "bin": "/dust-bin-svgrepo-com.svg",
    "cart": "/cart-svgrepo-com.svg",
    "close": "/close-svgrepo-com.svg"
);

@each $key, $url in $icon-map {
    .#{$key} {
        @include BeforeIcon($url);
    }
}