@import 'design';

.cart-items {
    @include MarginVertical;

    width: 100%;

    border-collapse: collapse;
    text-align: center;
}

.cart-item {
    border-bottom: 2px solid $borderColour;

    &:first-child {
        border-top: 2px solid $borderColour;
    }
    
    td {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}

.logo {
    width: 2em;
    height: 2em;
}
