@use 'sass:color';
@import 'design';

.cart {
    @include DesktopOnly {
        position: sticky;
        top: 1em;

        z-index: 1;
        margin-bottom: -1em;

        text-align: left;
    }

    @include MobileOnly {
        display: none;
    }
}