@use 'sass:color';
@import 'design';

.cart {
    @include DesktopOnly {
        position: sticky;
        top: 1em;

        z-index: 1;

        text-align: left;

        margin-right: 0;
    }

    @include MobileOnly {
        display: none;
    }
}