$positiveColour: rgb(74, 230, 74);
$negativeColour: rgb(226, 34, 34);
$neutralColour: rgb(63, 152, 235);

$disabledColour: rgb(173, 171, 171);
$disabledBorder: rgb(83, 82, 82);

$borderColour: rgb(163, 161, 161);