@use 'sass:color';

@mixin Padding {
    padding: 1em;
}

@mixin MarginVertical {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

@mixin Margin {
    margin: 0.75em;
}

@mixin Radius {
    border-radius: 5px;
}

@mixin Box($shadow: true) {
    @include Padding;
    @include Margin;
    @include Radius;

    @if $shadow {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    }
}

@mixin MobileOnly {
    @media only screen and (max-width: 720px) {
        @content
    }
}

@mixin DesktopOnly {
    @media only screen and (min-width: 720px) {
        @content
    }
}