@use 'sass:color';
@import './colours.scss';

@mixin Padding {
    padding: 1em;
}

@mixin MarginVertical {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

@mixin Margin {
    margin: 0.75rem;
}

@mixin Border($colour) {
    border: 2px solid $colour;
}

@mixin Divider {
    border-bottom: 2px solid $borderColour;

    &:first-of-type {
        border-top: 2px solid $borderColour;
    }
}

$shadowOffset: 3px;

@mixin Shadow($baseColour, $isActive: false) {
    box-shadow: $shadowOffset $shadowOffset 0px 0px color.adjust($baseColour, $lightness: -10%);

    @if $isActive {
        &:active {
            box-shadow: none;
        }
    }
}

@mixin Box {
    @include Padding;
    @include Margin;

    background-color: white;

    @include Border($borderColour);
    @include Shadow($borderColour);
}

@mixin MobileOnly {
    @media only screen and (max-width: 720px) {
        @content;
    }
}

@mixin DesktopOnly {
    @media only screen and (min-width: 720px) {
        @content;
    }
}