@use 'sass:color';

$borderColour: rgb(163, 161, 161);

@mixin Padding {
    padding: 1em;
}

@mixin MarginVertical {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

@mixin Margin {
    margin: 0.75em;
}

@mixin Border($colour) {
    border: 2px solid $colour;
}

@mixin Shadow($baseColour, $isActive: false) {
    box-shadow: 3px 3px 0px 0px color.adjust($baseColour, $lightness: -10%);

    @if $isActive {
        &:active {
            box-shadow: none;
        }
    }
}

@mixin Box {
    @include Padding;
    @include Margin;

    background-color: white;

    @include Border($borderColour);
    @include Shadow($borderColour);
}

@mixin MobileOnly {
    @media only screen and (max-width: 720px) {
        @content;
    }
}

@mixin DesktopOnly {
    @media only screen and (min-width: 720px) {
        @content;
    }
}