@import 'design';

.listings {
    flex: 3 0 25em;
    list-style: none;
    padding: 0;

    margin-top: 0;
    margin-bottom: 0;
}

.container {
    @include Box;
}

.listing {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;

    align-items: center;
}

.listing-item-image {
    flex: 0 0 22vw;
    margin: 0 auto;
    max-width: 10em;
}

.listing-item {
    flex: 1 1 20em;
}

.buy-container {
    text-align: right;
}

.buy {
    @include PositiveCta;
    transition: width 0.5s;
}

.added {
    background-color: lightgray;
}