@import 'design';

.footer {
    font-style: italic;
    margin-top: 0;
}

.img {
    width: 4em;
    margin-bottom: 1em;
}

.platform-message-desktop {
    @include DesktopOnly {
        display: none;
    }
}

.platform-message-mobile {
    @include MobileOnly {
        display: none;
    }
}

.joke {
    font-size: 0.75em;
}