html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: #fafafa;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.content {
    max-width: 70em;
    margin: 0 auto;
}