@use 'sass:color';
@import 'design';

.container {
    @include MobileOnly {
        position: fixed;
        width: 100%;
        text-align: right;

        left: 0;
        bottom: 0;

        z-index: 1;
    }

    @include DesktopOnly {
        display: none;
    }
}

.cart {
    @include Box;

    z-index: 1;
    background-color: white;

    margin-bottom: -1em;

    text-align: left;
}

$baseColour: rgb(62, 62, 228);

.cart-button {
    @include Padding;
    @include Margin;
    margin-top: 0;

    border-radius: 50%;

    img {
        position: relative;
        width: 2em;
        top: 0.1em;
        left: -0.1em;
    }

    background-color: $baseColour;
    border: 3px solid color.adjust($baseColour, $lightness: +10%);

    &:active {
        background-color: color.adjust($baseColour, $lightness: +10%);
    }
}

.cart-number {
    $fontSize: 0.75em;

    padding: $fontSize;
    font-size: $fontSize;

    position: absolute;
    bottom: 71%;

    border-radius: 50%;

    font-weight: bold;

    background-color: white;
    border: 1px solid black;
}